{% extends "base.html" %}
{% block title %}Archiwum{% endblock %}
{% block content %}
    <table id="table1" class="table table-striped table-dark">
        <thead>
            <tr>
                <th></th>
                <th scope="col">Nazwa</th>
                <th scope="col">Sklepy</th>
                <th scope="col">Cena</th>
                <th scope="col">Ocena</th>
            </tr>
        </thead>
        <tbody>
            {% for row in table_data %}
			    <tr>
            <td scope="row"><img class="thumb" src="{{ url_for('static', filename=row['image']) }}"></td>
				    <td><a href="/archive/{{ row['idx'] }}">{{ row['name'] }}</a></td>
				    <td>{{ row['shops'] }}</td>
            <td data-order="{{ row ['price'] }}">{{ row ['price'] }}zł</td>
				    <td class="{{ row['color'] }}">{{ row['score'] }}</td>
			  </tr>
			{% endfor %}
        </tbody>
    </table>
    <script src="https://code.jquery.com/jquery-3.5.1.js"></script>
    <script src="https://cdn.datatables.net/1.13.4/js/jquery.dataTables.min.js"></script>
    <script>
      $(document).ready(function () {
      $('#table1').DataTable({
        "order": [[1, 'asc']],
        language: {
            lengthMenu: 'Wyświetl _MENU_ jaboli na stronę',
            zeroRecords: 'Nie znaleziono jaboli',
            info: 'Pokazuję stronę _PAGE_ z _PAGES_',
            infoEmpty: 'Nie znaleziono',
            infoFiltered: '(wyfiltrowane z _MAX_ wyników)',
            search: 'Wyszukaj jabola:',
            paginate: {
              first:      "Pierwsza",
              previous:   "Poprzednia",
              next:       "Następna",
              last:       "Ostatnia"
            },
        },
        "columnDefs": [ {
          "targets": [0, 3, 4],
          "searchable": false
        },
        {
          "targets": 0,
          "orderable": false
        }]
      });
      });
    </script>
{% endblock %}