{% extends "base.html" %}
{% block title %}Archiwum{% endblock %}
{% block content %}
    <table id="table1">
        <thead>
            <tr>
                <th></th>
                <th onclick="sortTable(0)">Nazwa</th>
                <th onclick="sortTable(1)">Sklepy</th>
                <th onclick="sortTable(2)">Cena</th>
                <th onclick="sortTable(3)">Ocena</th>
            </tr>
        </thead>
        <tbody>
            {% for row in table_data %}
			    <tr>
            <td><img src="{{ url_for('static', filename=row['image']) }}"></td>
				    <td><a href="/archive/{{ loop.index }}">{{ row['name'] }}</a></td>
				    <td>{{ row['shops'] }}</td>
            <td>{{ row ['price'] }}zł</td>
				    <td>{{ row['score'] }}</td>
			  </tr>
			{% endfor %}
        </tbody>
    </table>

    <script>
        function sortTable(n) {
          var table, rows, switching, i, x, y, shouldSwitch, dir, switchcount = 0;
          table = document.getElementById("table1");
          switching = true;
          dir = "asc";
          while (switching) {
            switching = false;
            rows = table.rows;
            for (i = 1; i < (rows.length - 1); i++) {
              shouldSwitch = false;
              x = rows[i].getElementsByTagName("TD")[n];
              y = rows[i + 1].getElementsByTagName("TD")[n];
              if (dir == "asc") {
                if (x.innerHTML.toLowerCase() > y.innerHTML.toLowerCase()) {
                  shouldSwitch = true;
                  break;
                }
              } else if (dir == "desc") {
                if (x.innerHTML.toLowerCase() < y.innerHTML.toLowerCase()) {
                  shouldSwitch = true;
                  break;
                }
              }
            }
            if (shouldSwitch) {
              rows[i].parentNode.insertBefore(rows[i + 1], rows[i]);
              switching = true;
              switchcount ++;
            } else {
              if (switchcount == 0 && dir == "asc") {
                dir = "desc";
                switching = true;
              }
            }
          }
        }
    </script>
{% endblock %}