{% extends "base.html" %}
{% block title %}Kontakt{% endblock %}
{% block content %}
<div class="contact">
    <p>
        Jeśli chcesz się z nami skontaktować, ponieważ np:
    </p>
    <ul>
        <li>znalazłeś/aś błąd na stronie i chcesz nam go zgłosić,</li>
        <li>chcesz zgłosić błąd dotyczący któregoś z jaboli,</li>
        <li>...lub jeśli po prostu potrzebujesz się z nami skontaktować, z jakiegokolwiek innego powodu.</li>
    </ul>
    <p>Skorzystaj w tym celu z poniższego adresu e-mail:</p>
    <a href="mailto:jabollum@jabole.pro" style="color: bisque; text-decoration: none;"><b>jabollum@jabole.pro</b></a>
    <p>...lub dołącz do naszego discorda, gdzie udzielimy Ci szybszego wsparcia, dostaniesz ogłoszenia o najnowszych zmianach i wiele więcej!</p>
    <button class="btn btn-primary" href="https://discord.gg/8Ugkr4d5Ax">Discord</button>
</div>
{% endblock %}