{% extends "base.html" %}
{% block title %}Wesprzyj nas!{% endblock %}
{% block content %}
    <div class="info2">
        <p>
            Jeśli chcesz wesprzeć nasz projekt, możesz to zrobić tutaj. Dotacje bardzo pomagają w rozwoju serwisu i jego utrzymaniu.
        </p>
        <p style="color:chartreuse !important;">UWAGA! Jeśli chcesz, aby twoje konto uzyskało status wspierającego, w wiadomości dotacji wpisz TYLKO I WYŁĄCZNIE swoją nazwę użytkownika na stronie.</p>
        <script type='text/javascript' src='https://storage.ko-fi.com/cdn/widget/Widget_2.js'></script><script type='text/javascript'>kofiwidget2.init('Wesprzyj nas!', '#e0288a', 'E1E2LOGO7');kofiwidget2.draw();</script> 
    </div>
    <div class="info2">
        <p>
            Jeśli wolisz płacić w Monero (XMR), możesz to zrobić przelewając dowolną ilość na adres poniżej :>
        </p>
        <p><kbd style="font-size: 1.5vw;">8818mNyg9SpGDvzqyDJB4CY6WhE2CscL4LtpzjRYaLHJGPUxzjBX9Tf5ZHLUy7btgGfWgvn1t6uXLFp7JkRVdzv6BBDwRZj</kbd></p>
        <img src="static/media/xmr_qr.png">
    </div>
    <div class="video">
        <iframe width="560" height="315" src="https://www.youtube-nocookie.com/embed/hdy5EMgKoyg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture; web-share" allowfullscreen></iframe>
    </div>
    {% endblock %}