{% extends "base.html" %}
{% block title %}Strona główna{% endblock %}
{% block content %}
<div class="info">
    <p>
        Witaj na stronie Jabollum! Nasza baza danych to źródło informacji o polskich jabolach, czyli tanich winach, które cieszą się popularnością wśród wielu miłośników trunków. <br>
        Projekt Jabollum powstał dzięki wielkiego zamiłowania do jaboli Maksa "Skilla" Tyma, oraz kilku jego znajomych. Naszym celem jest zachęcanie ludzi do odkrywania i degustowania różnych rodzajów jaboli, nie tylko jabłkowych, ale również innych smaków, które są dostępne w przystępnych cenach w Polsce. <br>
        Na naszej stronie znajdziesz informacje na temat różnych jaboli, w tym ich smaków, aromatów i historii. Możesz przeglądać i wyszukiwać jabole według oceny, ceny i innych kryteriów. <br>
        Co więcej, jako użytkownik możesz dodać własny jabol do naszej bazy danych, dzięki czemu inni miłośnicy wina będą mieli szansę spróbować i podzielić się swoją opinią na temat Twojego ulubionego trunku. <br>
        Nasza strona jest open source, co oznacza, że kod jest dostępny publicznie, a każdy może pomóc w jego rozwijaniu. Jesteśmy zawsze otwarci na sugestie i uwagi, abyśmy mogli lepiej spełnić oczekiwania naszych użytkowników. <br>
    </p>
</div>
{% endblock %}