{% extends "base.html" %}
{% block title %}Strona główna{% endblock %}
{% block content %}
<div class="info">
    <p>
        Witaj na stronie Jabollum! Nasza baza danych to źródło informacji o polskich jabolach, czyli tanich winach, które cieszą się popularnością wśród wielu meneli, punków i studentów. <br>
        Projekt Jabollum powstał dzięki wielkiemu zamiłowaniu do jaboli Maksa "Skilla" Tyma, oraz kilku jego znajomych. Naszym celem jest zachęcanie ludzi do odkrywania i degustowania różnych rodzajów jaboli, nie tylko jabłkowych, ale również innych smaków, które są dostępne w przystępnych cenach w Polsce. <br>
        Na naszej stronie znajdziesz informacje na temat różnych jaboli, w tym ich smaków, aromatów i historii. Możesz przeglądać najróżniejsze jabole, sprawdzić ich cenę, woltaż, gdzie je nabyć, czy inne parametry, które mogą cię interesować! <br>
        Co więcej, jako użytkownik możesz dodać własnego jabola do naszej bazy danych, dzięki czemu inni miłośnicy taniego wina będą mieli szansę spróbować i podzielić się swoją opinią na temat Twojego ulubionego trunku. <br>
        Jesteśmy zawsze otwarci na sugestie i uwagi, abyśmy mogli lepiej spełnić oczekiwania naszych użytkowników. Po informacje kontaktowe, odwiedź zakładkę "Kontakt".<br>
    </p>
</div>
{% endblock %}