{% extends "base.html" %}
{% block title %}Szczegóły{% endblock %}
{% block content %}
    <img src="{{ url_for('static', filename=jabol_data['image']) }}">
    <h1>{{ jabol_data['name'] }}</h1>
    <p>Sklepy: {{ jabol_data['shops'] }}</p>
    <p>Ocena: {{ jabol_data['score'] }}</p>
    <p>Opis:</p>
    <p>{{ jabol_data['description'] }}</p>
    <p>Zawartość alkoholu (%): {{ jabol_data['ac'] }}</p>
    <p>Objętość (L): {{ jabol_data['vol'] }}</p>

    <form method="POST" action="/archive/{{ id }}/submit-vote">
        <label for="score">Score:</label>
        <input type="number" name="score" min="1" max="10" required>
        <button type="submit">Submit</button>
    </form>
{% endblock %}