{% extends "base.html" %}
{% block title %}Szczegóły{% endblock %}
{% block content %}
<button class="btn btn-secondary" style="margin-left: 20px;" id="back">Wróc do archiwum</button>
    <div class="jabol-info" style="text-align: center; padding-top: 3%;">
        <img src="{{ url_for('static', filename=jabol_data['image']) }}" class="jabol-image">
        <h1>{{ jabol_data['name'] }}</h1>
        <p>Sklepy: {{ jabol_data['shops'] }}</p>
        <p>Ostatnia znana cena: {{ jabol_data['price'] }}zł</p>
        <p>Ocena: {{ jabol_data['score'] }}</p>
        <form method="POST" action="/archive/{{ id }}/submit-vote" id="submit-score-form" enctype="multipart/form-data">
            <label for="score">Twoja ocena:</label>
            <input type="number" name="score" min="1" max="10" size="2" required>
            <button class="g-recaptcha btn btn-primary" type=submit data-sitekey="{{ site_key }}" data-callback='onSubmit' data-action='submit'>Wyślij</button>
        </form>
        <p>Opis:</p>
        <p>{{ jabol_data['description'] }}</p>
        <p>Zawartość alkoholu: {{ jabol_data['ac'] }}%</p>
        <p>Objętość: {{ jabol_data['vol'] }}L</p>
    </div>


        <h2>Dodaj swoją recenzję:</h2>
        <form method="POST" action="#">
            <div class="form-row">
                {% if loggedIn == False %}
                <div class="col">
                    <input type="text" name="name" class="form-control" placeholder="Nick/Imię" required>
                </div>
                {% endif %}
                <div class="col">
                    <textarea name="review" class="form-control" placeholder="Twoja recenzja..." required></textarea>
                </div>
                <div class="col">
                    <button class="btn btn-primary" type=submit>Prześlij</button>
                </div>
            </div>
        </form>

    <table id="reviews" class="table table-striped table-dark" style="margin-top: 10px;">
        <thead>
            <tr>
                <th scope="col">Nick</th>
                <th scope="col">Recencja</th>
                <th scope="col">Data opublikowania</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            {% for review in review_data %}
            <tr>
                {% if review['uid'] in registered %}
                    {% if review['uid'] in admins %}
                        <td scope="row"><a href="/profile/{{ review['uid'] }}" class="userAdmin">{{ review['name'] }}</a></td>
                    {% elif review['uid'] in pro %}
                        <td scope="row"><a href="/profile/{{ review['uid'] }}" class="userPro">{{ review['name'] }}</a></td>
                    {% else %}
                        <td scope="row"><a href="/profile/{{ review['uid'] }}" class="userReg">{{ review['name'] }}</a></td>
                    {% endif %}
                {% else %}
                <td scope="row">{{ review['name'] }}</td>
                {% endif %}
                <td>{{ review['review'] }}</td>
                <td>{{ review['date'] }}</td>
                {% if review['uid'] == uid %}
                <td><a href="/remove-review/{{ review['idx'] }}"><button class="btn btn-danger">Usuń</button></a></td>
                {% else %}
                <td></td>
                {% endif %}
            </tr>
            {% endfor %}
        </tbody>
    </table>
    <script>
        function onSubmit(token) {
            document.getElementById("submit-score-form").submit();
        }
        document.getElementById("back").onclick = function () {
            location.href = "/archive";
        };
    </script>
    <style>
        a.userAdmin {
            color: red !important;
        }
        a.userPro {
            color: gold !important;
        }
        a.userReg {
            color: grey !important;
        }
    </style>
    
{% endblock %}