{% extends "base.html" %}
{% block title %}Logowanie{% endblock %}
{% block content %}
<div class="container-lg"  style="padding-top: 5%;">
    <div class="text-center">
        <h2>Logowanie</h2>
        <p class="lead">Zaloguj się na swoje konto Jabollum</p>
    </div>

    <div class="row justify-content-center my-5">
        <div class="col-lg-6">
            <form method="POST" action="#" enctype="multipart/form-data" id="login-form">
                <div class="mb-3">
                    <label for="username" class="form-label">Nick:</label>
                    <input type="text" name="username" class="form-control" required>
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label">Hasło:</label>
                    <input type="password" name="password" class="form-control" required>
                </div>
                <div class="mb-3">
                    <button class="g-recaptcha btn btn-primary" type=submit data-sitekey="{{ site_key }}" data-callback='onSubmit' data-action='submit'>Zaloguj się</button>
                </div>
            </form>
        </div>
    </div>
</div>

<script>
    function onSubmit(token) {
      document.getElementById("login-form").submit();
    }
</script> 
{% endblock %}