{% extends "base.html" %}
{% block title %}
{% if isChild != True %}
Twój profil
{% else %}
Profil {{ userdata['username'] }}
{% endif %}
{% endblock %}
{% block content %}
<div class="user-info" style="text-align: center; padding-top: 3%;">
    <h1 class="user">{{ userdata['username'] }}</h1>
    <p>Ostatnie logowanie: {{ userdata['last_login'] }}</p>
    <p>Konto utworzone: {{ userdata['date_created'] }}</p>
    {% if isChild != True%}
    <button class="btn btn-primary" id="logoutButton">Wyloguj</button>
    {% endif %}
</div>
<script>
    document.getElementById("logoutButton").onclick = function () {
        location.href = "/logout";
    };
</script>
{% if userdata['admin'] %}
<style>
    h1.user {
        color: red !important;
    }
</style>
{% elif userdata['pro'] %}
<style>
    h1.user {
        color: gold !important;
    }
</style>
{% else %}
<style>
    h1.user {
        color: grey !important;
    }
</style>
{% endif %}
{% endblock %}