h1 {
    color: #C4C4C4;
}

body {
    background-color: rgb(80, 80, 80) !important;
}

.title {
    text-align: center;
    border: 3px solid #000000;
}

.info {
    text-align: center;
    color: bisque;
    vertical-align: top;
    margin-left: 20%;
    margin-right: 20%;
    padding-top: 3%;
    display: inline-block;
}

.logo-banner { /* TO BE FIXED, SHOULD FILL THE WHOLE WIDTH AND THE TOP */
    margin: 0px;
    padding: 0px;
    top: 0;
    left: 0;
    right: 0;
}

.thumb {
    width: 20%;
    height: 20%;
}

.contact {
    text-align: center;
    padding-top: 3%;
    color: bisque;
}