h1 {
    color: #C4C4C4 !important;
}

h2 {
    color: #C4C4C4 !important;
}

p{
    color: #b1b1b1 !important;
}

label {
    color: #b1b1b1 !important;
}

body {
    background-color: rgb(80, 80, 80) !important;
    margin-bottom: 15% !important;
}

a {
    text-decoration: none !important;
}

.title {
    text-align: center;
    border: 3px solid #000000;
}

.info {
    text-align: center;
    color: bisque;
    vertical-align: top;
    margin-left: 20%;
    margin-right: 20%;
    padding-top: 3%;
    display: inline-block;
}

.logo-banner { /* TO BE FIXED, SHOULD FILL THE WHOLE WIDTH AND THE TOP */
    margin: 0px;
    padding: 0px;
    top: 0;
    left: 0;
    right: 0;
}

.thumb {
    max-width: 100px;
    max-height: 100px;
}

.contact {
    align-self: center;
    text-align: center;
    padding-top: 3%;
    color: bisque;
    margin-left: 30%;
    margin-right: 30%;
}

.jabol-image {
    display: block;
    max-width: 50%;
    margin: auto;
}

.info2 {
    text-align: center;
    margin: 2%;
}

.video {
    text-align: center;
    margin-top: 5%;
}

@media screen and (max-width: 750px) {
    iframe {
        max-width: 100% !important;
        width: auto !important;
        height: auto !important;
    }
}